<div calss="center  jumbotron">
    <h1>Welcome To MyRecipies App</h1>
    <h2>This is the home page for the ruby Developer course</h2>
   <div class="col-md-12 text-center">
    <%= link_to "Sign Up Now","",class: "btn btn.lg btn-success" %>
    </div>
  
</div>
<div class="row">
    
    
    <div class="cl-lg-4">
        <h3 calss="midrow"> 
           View Recipies As A guest User
         </h3>
        <h2 class:"left">
            Browse recipies as guest and Sign Up
         </h2>
        <p>
            <%= link_to "Browse Reciepie Listings","",class: "btn btn-warning btn-small" %>
        </p>
    </div>
    <div class="cl-lg-4">
        <h3 calss="midrow"> 
           View Recipies As A guest User
         </h3>
        <h2 calss:"left">
            Browse recipies as guest and Sign Up
         </h2>
        <p>
            <%= link_to "Browse Reciepie Listings","",class: "btn btn-warning btn-small" %>
        </p>
    </div>
    <div class="cl-lg-4">
        <h3 calss="midrow"> 
           View Recipies As A guest User
         </h3>
        <h2 calss:"left">
            Browse recipies as guest and Sign Up
         </h2>
        <p>
            <%= link_to "Browse Reciepie Listings","",class: "btn btn-warning btn-small" %>
        </p>
    </div>
</div>